.SideBar
  .LeftHeader
    .LeftHeader__list
      %h3.LeftHeader__userName
        ユーザー名
      %ul.LeftHeader__iconList
        %li.LeftHeader__Icon
          = link_to '#' do
            = icon('fas', 'edit')
        %li.LeftHeader__Icon
          = link_to '#' do
            = icon('fas', 'cog')
  .GroupList